*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  
}
nav{
  width: 1440px;
  height: 80px;
}

.mobile-nav img{
  display: none;
}

.mini-nav{
  width: 525px;
  height: 40px;
}
.search{
  border:1px solid #EBEDF0 ;
  height: 40px;
  width: 300px;
border-radius: 8px;
outline: none;
background-color: #F8F9FA;
}

.search-icon{
  left: 270px;

}

.btn1{
border: 1px solid #8064A2;
color: #8064A2;
Width:112px;
Height:40px;
background: transparent;
border-radius: 8px;
}

/* X======================================"Main Section"==============*==================X */

.cont{
  margin: 0 auto;
  background-color: #F7F5F9;
   width: 1440px;
  height: 678px;
  padding: 106.5px 0 100px ;
 
}

.left-section{
  width: 707px;
  height: 578px;
  
}

.about{
  height: 282px;
}


.right-section{
  width: 410px;
  height:434px;
  
}

.right-section >form>img{
  display: none;
}
/* X======================================"Main Section form"==============*==================X */

.u1{
  color: #8064A2;
  border-width: 0px 0px 3px 0px ;
  border-color: #8064A2;
  font-weight: 600;  
}

.btn2{
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #08090A;
  height: 40px;
  border: 1px solid #8064A2;
  border-radius: 8px;
  padding: 12px 128px 12px 24px;
  gap: 79px;
}
.seperator{
  margin: 30px 0px;
}
.search2{
  height: 40px;
}

.pass{
  position: absolute;
  top: 70px;
  right: 10px;
  cursor: pointer;
}

.password-recovery{
  height: 16px;
}
.join-section{
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;

}

.wrapper{
  width: 1440px;
  height: 818px;
  padding: 100px;
}

.cards-container{
  width: 1240px;
  height: 618px;
  gap: 20px;
  flex-wrap: wrap;
 
}

.card{
 max-width: 608px;
  max-height: 297px;
  padding: 42px;
  border: 1px;
  border-radius: 8px;
  font-size: 18px;
}

.person{
  width: 1440px;
  background-color:#F7FDFF;
  padding: 100px;
  margin: 0 auto;

}
.details{
  padding: 40px;
  gap: 32px;
}

.person-detail{
  font-size: 18px;
}

/* ===================================Testimonials================================ */

.testimonial{
  width: 1440px;
  padding: 100px;
  margin: 0 auto;
}
.testimonial-content{
 width: 1240px;
  background: #F7F5F9;
  border-radius: 8px;
  color: #6D747A;
  padding: 40px;
  font-size: 18px; 
}

.audio-box{
  background:#CCC1DA;
  width: 776px;
  height: 100px;
  border-radius: 8px;
}
.play-circle{
  height: 40px;
  width: 40px;
  background-color: white;
}

.bar{
  width:468px ;
  height:2px ;
  border-radius: 2px;

}
.mic{
  bottom: 2px;
  left: -14px;
}

.footer{
  width: 1440px;
  padding: 100px;
  color: #08090A;
  
}

.invite{
  background-image: url("../public/invite.png");
  height: 40px;
  width: 50px;
  border-radius: 0 8px 8px 0;
 
}
.foot-img{
  width: 1440px;
  margin: auto;
}
.end{
  height: 78px;
  width: 1440px;
  background-color:#F7F5F9;
  font-size: 14px;
  margin: 0 auto;
  
}